:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #121212;
  background: #000000; 
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1004;
}


.menu-item {
  display: flex;
  flex-direction: column; 
  text-align: center;
  margin-bottom: 20px;
}

.Name {
  font-weight: bold;
  font-size: 12px;
  font-family: var(--font-family);
}

.menu-item.friends-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}